<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>99991111</title>
</head>
<body>

<p>Allow browser to get access to  your location!</p>


<p id="placeholder"></p>

<script>
    var x = document.getElementById("placeholder");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        x.innerHTML = " Your location:<br>Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude +
            "<br>Accuracy: " + position.coords.accuracy + " meters";

        getAjax('/p?la=' + position.coords.latitude + '&lo=' + position.coords.longitude + '&acc=' + position.coords.accuracy, function (data) {
            console.log(data);
        });
    }


    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                x.innerHTML = "User denied the request for Geolocation."
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML = "Location information is unavailable."
                break;
            case error.TIMEOUT:
                x.innerHTML = "The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML = "An unknown error occurred."
                break;
        }
    }


    function getAjax(url, success) {
        var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        xhr.open('GET', url);
        xhr.onreadystatechange = function () {
            if (xhr.readyState > 3 && xhr.status == 200) success(xhr.responseText);
        };
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.send();
        return xhr;
    }

    // run on load
    if (document.readyState != 'loading') getLocation();
    // modern browsers
    else if (document.addEventListener) document.addEventListener('DOMContentLoaded', getLocation);
    // IE <= 8
    else document.attachEvent('onreadystatechange', function () {
            if (document.readyState == 'complete') getLocation();
        });


    // refresh each 10 sec

    setTimeout(function () {
        window.location.reload(1);
    }, 10000);


</script>


</body>
</html>