<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>99991111</title>
</head>
<body>

<p>Allow browser to get access to your location!</p>


<p id="placeholder"></p>

<script>
    var x = document.getElementById("placeholder");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, errorCallback_highAccuracy, {
                maximumAge: 600000,
                timeout: 10000,
                enableHighAccuracy: true
            });
            navigator.geolocation.watchPosition(showPosition, errorCallback_highAccuracy, {
                maximumAge: 600000,
                timeout: 10000,
                enableHighAccuracy: true
            });
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }


    function errorCallback_highAccuracy(error) {
        if (error.code == error.TIMEOUT) {
            // Attempt to get GPS loc timed out after 5 seconds,
            // try low accuracy location
            x.innerHTML = "attempting to get low accuracy location";
            navigator.geolocation.getCurrentPosition(
                showPosition,
                errorCallback_lowAccuracy,
                {maximumAge: 600000, timeout: 10000, enableHighAccuracy: false});
            return;
        }


        var msg = "<p>Can't get your location (high accuracy attempt). Error = ";
        if (error.code == 1)
            msg += "PERMISSION_DENIED";
        else if (error.code == 2)
            msg += "POSITION_UNAVAILABLE";
        msg += ", msg = " + error.message;

        x.innerHTML = msg;
    }

    function errorCallback_lowAccuracy(error) {
        var msg = "<p>Can't get your location (low accuracy attempt). Error = ";
        if (error.code == 1)
            msg += "PERMISSION_DENIED";
        else if (error.code == 2)
            msg += "POSITION_UNAVAILABLE";
        else if (error.code == 3)
            msg += "TIMEOUT";
        msg += ", msg = " + error.message;

        x.innerHTML = msg;
    }


    function showPosition(position) {
        x.innerHTML = " Your location:<br>Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude +
            "<br>Accuracy: " + Math.floor(position.coords.accuracy) + " meters";

        getAjax('/p?la=' + position.coords.latitude + '&lo=' + position.coords.longitude + '&acc=' + position.coords.accuracy, function (data) {
            console.log(data);
        });
    }


    function getAjax(url, success) {
        var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        xhr.open('GET', url);
        xhr.onreadystatechange = function () {
            if (xhr.readyState > 3 && xhr.status == 200) success(xhr.responseText);
        };
        xhr.send();
        return xhr;
    }

    // run on load
    if (document.readyState != 'loading') getLocation();
    // modern browsers
    else if (document.addEventListener) document.addEventListener('DOMContentLoaded', getLocation);
    // IE <= 8
    else document.attachEvent('onreadystatechange', function () {
            if (document.readyState == 'complete') getLocation();
        });


</script>


</body>
</html>